.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 30vw;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: Beat 2s ease infinite alternate;
  filter: drop-shadow(0px 0px 20px #00000090);
}

.heart-part {
  background-color: red;
  width: 15vw;
  height: 20vw;
  border-radius: 50% 50% 0 0;
  position: absolute; /* Position absolute to overlap correctly */
}

.left {
  transform: rotate(-45deg);
  transform-origin: bottom left;
}

.right {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

@keyframes Beat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}
